*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    position: relative;
} */
.box-matches{
    margin: 20px auto;
    width: 1170px;
}

.box-matches p{

    line-height: 2;
    font-size: 1.5em;

    background: lightblue;
}